footer{
  & .container-link{
    display: flex;
    color:$dustyGray;
    flex-direction: row;
    margin-top: 25px;

    &>a{
      display: flex;
      padding: 0px 5px;
      text-transform: uppercase;
      color:$doveGray;
      flex-shrink: 0;
      cursor: pointer;
      &:hover{
        color:$regentBlue;
      }
    }
  }
}
