.logo{
  display: block;
  width: 25px;
  height: 25px;
  &.word{
    display: block;
    width: 150px;
    height: 50px;
    margin: 5px;
  }
}
.logo-fb{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px;
}
.logo-twitter{
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px;
}
